html(lang="en")
  head
    link(rel='stylesheet', href='style.css')
    title NFC OAuth
    
  body
    h1 CMU Access Door
    if users.length
      p The following users accessed the door successfully.
      
      each user in users
        .user
          div.picture
            img(src="#{user.picture.data.url}")
          div.info
            strong= user.name
            div= user.id
            div= moment(user.updatedAt).fromNow()
    else
      p Currently no users were granted access.  
